/* service.css */
.serviceblank{
  height: 8rem;
  display: block;
}

.servicelist {
    width: auto;
    margin: 1rem;
    text-align: center;
    color: white;
    background-color: black;
    padding: 1rem;
    box-shadow: 0 0 2rem rgb(245, 132, 2);
    border-radius: 1.25rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.servicediv{
  width: auto; /* Adjust the width as needed */
  margin-bottom: 2rem;
  text-align: center;
  border-radius: 1.0rem;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
  box-shadow: 0 0 4rem rgb(184, 17, 17);
}

.servicediv img {
  max-width: 50rem;
  height: 20rem;
  border-radius: 1.8rem;
}



.serviceNameBackground {
  background-color: rgba(217, 97, 27, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0 0 100px rgb(0, 0, 0);
  text-align: center;
  margin: 1rem;
  margin-bottom: 20px;
}

.imgprop {
  width: 25rem;
  height: 20rem;
  border-radius: 2rem;
  margin: 1rem;
}

@media (max-width: 768px) {
  
  .serviceblank{
    display: block;
  }
  
  .service{
    width: auto /* Full width for services on small screens */
  }
  .serviceNameBackground{
    width: auto;
  }
  
  
  
}
