.dark{
  --main-font : rgb(255, 255, 255);
  --bg-color : #333;
  --btn-bg : #333;
  --color-black : #000000;
  --box-shadow : #000000;
  --color-goldenrod : #ff911c;
}
.light{
  --main-font : rgb(255, 255, 255);
  --bg-color : #ffeaf7;
  --btn-bg : #005fb8;
  --color-black : #2992f4;
  --color-goldenrod : #e74900;
  --color-pink : #ff078f;
}



.wholeheader {
  display: flex;
  z-index: 100;
  width: 100%;
  height: 7.5rem;
  top: 0;
  left: 0;
  position: fixed;
  box-shadow: 1rem 1rem 2rem rgb(89, 0, 94);
  background-color: var(--bg-color);
}
.part3{
  background-color: var(--color-black);
  width : 3rem;
  height: 1.5rem;
  border: 2px solid var(--color-black);
}

.tab {
  display: flex;
  align-items: flex-start;
  width: auto;
  background-color: var(--bg-color);
  color: var(--color-goldenrod);
  padding: 0.625rem 0;
}

.logo-holder {
  display: flex;
  align-items: center;
  margin-left: 0.3rem;
}

.imglogo {
  border-radius: 50%;
  &:hover{
    cursor: pointer;
    border: 2px solid var(--color-black);
  }
}

.sitenamecontainer {
  margin-left: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.25rem;
}

.snc {
  display: flex;
}

.part2 {
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  width: 190rem;
  height: 2.5rem;
  margin-top: 0.5rem;
}

.bio {
  display: flex;
  padding: 0.625rem 1.25rem;
  margin-left: 0.3125rem;
  background-color: var(--btn-bg);
  color: var(--main-font);
  cursor: pointer;
  border: 0.1rem solid var(--color-black);
  border-radius: 0.625rem;
  box-shadow: 0.2rem 0.1rem var(--box-shadow);
  align-items: center;
  height: 2rem;
  width: 7rem;
  justify-content: center;
  margin-top: 0.5rem;
}

.bio:hover {
  background-color: var(--color-black);
  color: var(--main-font);
  font-style: italic;
  box-shadow: 0.0rem 0.0rem 1.0rem rgb(195, 101, 7);
 
  height: 2.5rem;
}
.sitename {
  color: rgb(255, 118, 39);
  text-shadow: 0.625rem 0.625rem 0.625rem rgba(0, 0, 0, 0.5);
  transform: perspective(62.5rem) rotateY(0.625deg);
}

.sitename1 {
  color: rgb(77, 169, 255);
  text-shadow: 0.625rem 0.625rem 0.625rem rgba(0, 0, 0, 0.5);
  margin-left: 1.25rem;
  transform: perspective(62.5rem) rotateY(0.625deg);
}

.slogan {
  font-size: 1rem;
  color: rgb(32, 196, 255);
  font-size: 1rem;
}
.imglogo{
  width: 5rem;
  height: 5rem;
}

.username{
  margin-left: 5rem;
  color: rgb(255, 118, 39);
  text-shadow: 0.625rem 0.625rem 0.625rem rgba(0, 0, 0, 0.5);
  transform: perspective(62.5rem) rotateY(0.625deg);
}
.slogan{
  display: grid;
}
.auth1{
  margin-right: 2rem;
  margin-top: 4rem;
  
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.0rem;
}
.auth{
  display: none;
}




/* For screens up to 768px (Mobile) */
@media (max-width: 768px) {
  
  .auth{
    display: block;
    margin-left: 10rem;
    margin-top: -4rem;
  }
  .auth1{
    display: none;
  }
  .wholeheader {
    display: flex;
    flex-wrap: wrap;
    margin-top: -1.7rem;
    height: 10rem;
    top: 0;
    flex-direction: row;
    
  }
  .tab{
    display: flex;
    flex-wrap: wrap;
    color: var(--main-font);
    background-color: var(--bg-color);
    
  }
  .logo-holder{
    margin-top: 1.1rem;
  }
  .sitenamecontainer{
    font-size: 1.3rem;
  }
  .part2 {
    display: flex;
    font-size: 1rem;
    margin: 0.2rem;
    max-height: none;
    height: 2.5rem;
    flex-wrap: wrap;
    margin-top: -3rem;
  }
  .bio{
    
    width: 4.5rem;
  }
  
  .username {
    margin-left: 4rem;
  }
  .imglogo{
    width: 3.5rem;
    height: 3.5rem;
  }
    
}
@media(max-width : 391px){
  .bio {
    width: 4rem;
  }
}