.wholeheader {
  display: flex;
  z-index: 100;
  width: 100%;
  height: 7.5rem;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #333;
}

.tab {
  display: flex;
  align-items: flex-start;
  width: auto;
  background-color: #333;
  color: #fff;
  padding: 0.625rem 0;
}

.logo-holder {
  display: flex;
  align-items: center;
  margin-left: 0.3rem;
}

.imglogo {
  border-radius: 50%;
}

.sitenamecontainer {
  margin-left: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.25rem;
}

.snc {
  display: flex;
}

.part2 {
  margin-left: 1rem;
  display: flex;
  height: 2.5rem;
  margin-top: 0.5rem;
}

.bio {
  display: flex;
  padding: 0.625rem 1.25rem;
  margin-left: 0.3125rem;
  background-color: rgb(40, 40, 40);
  color: rgb(244, 244, 244);
  cursor: pointer;
  border: 0.1rem solid black;
  border-radius: 0.625rem;
  box-shadow: 0.2rem 0.1rem black;
  align-items: center;
  height: auto;
  margin-top: 0.5rem;
}

.bio:hover {
  background-color: black;
  color: rgb(251, 251, 251);
  font-style: italic;
  box-shadow: 0.0rem 0.0rem 1.0rem rgb(195, 101, 7);
  width: 5.0rem;
  height: 2.5rem;
}
.sitename {
  color: rgb(255, 118, 39);
  text-shadow: 0.625rem 0.625rem 0.625rem rgba(0, 0, 0, 0.5);
  transform: perspective(62.5rem) rotateY(0.625deg);
}

.sitename1 {
  color: rgb(77, 169, 255);
  text-shadow: 0.625rem 0.625rem 0.625rem rgba(0, 0, 0, 0.5);
  margin-left: 1.25rem;
  transform: perspective(62.5rem) rotateY(0.625deg);
}

.slogan {
  font-size: 1rem;
  color: rgb(32, 196, 255);
  font-size: 1rem;
}

@media (max-width: 768px) {
  .wholeheader {
    display: flex;
    width: auto;
    margin-top: -1rem;
    height: 12rem;
    top: 0;
    flex-direction: column;
  }
  .part2 {
    display: flex;
    font-size: 1rem;
    margin: 0.2rem;
    max-height: none;
    height: 2.5rem;
    overflow: visible;
    flex-wrap: wrap;
  }
  .bio {
    width: 4.5rem;
    height: 2.0rem;
    justify-content: center;
    font-size: 1rem;
    padding: 0rem;
  }
  .sitenamecontainer {
    margin-left: 3rem;
    font-weight: bold;
    margin-bottom: 0rem;
    text-transform: uppercase;
  }
  .sitename {
    font-size: 1.25rem;
    margin-right: -3.125rem;
    margin-top: 1rem;
    color: rgb(255, 118, 39);
    text-shadow: 0.625rem 0.625rem 0.625rem rgba(0, 0, 0, 0.5);
    transform: perspective(62.5rem) rotateY(0.625deg);
  }
  .sitename1 {
    margin-top: 1rem;
    font-size: 1.25rem;
    margin-left: 4rem;
    color: rgb(77, 169, 255);
    text-shadow: 0.625rem 0.625rem 0.625rem rgba(0, 0, 0, 0.5);
    transform: perspective(62.5rem) rotateY(0.625deg);
  }
  .slogan {
    margin-top: 1rem;
    font-size: 0.8125rem;
    color: rgb(32, 196, 255);
    margin-left: -1rem;
  }
  .imglogo {
    width: 5rem;
    height: 5rem;
  }
  .logo-holder img {
  }
}
