.dark{
  --main-font : rgb(255, 255, 255);
  --bg-color : #333;
  --btn-bg : #333;
  --color-black : #000000;
  --box-shadow : #000000;
  --color-goldenrod : #ff911c;
  --color-pink : #ffad32;
}
.light{
  --main-font : rgb(255, 255, 255);
  --bg-color : #ffffff;
  --btn-bg : #0e0e0e;
  --color-black : #888888;
  --color-goldenrod : #ff5f14;
}




#root {
  overflow-x: hidden;
}

.homeblank {
  height: 8rem;
  display: block;
}


.wholecontainer {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
}
.fstext{
  color: var(--color-pink);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 1rem;
  background-color: var(--bg-color);
  padding: 0.5rem;
  border-radius: 1rem;

}
.firstc{
  display: flex;
  flex-direction: column;
}
.akshat{
  border-radius: 1rem;
  &:hover{
    border: 2px solid var(--bg-color);
    cursor: pointer;
    
  }
}
.fs-inside{
  display: flex;

 
}
.fsheading{
  color: rgb(236, 1, 1);
  margin-left: 2rem;
}
.fsheading{
  width: 55rem;
}
.fsimg{

  width: 40rem;
}
.fsname-container{
  
  width: 30rem;
  box-shadow: 1rem 1rem rgb(255, 0, 212);
  
  margin-left: 10rem;
  margin-top: 1rem;
}
.dream {
  color: rgb(255, 118, 39);
  font-size: 4rem; /* 5rem / 16px = 3.125rem */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  text-shadow: 
    0.0625rem 0.0625rem 0.0625rem rgb(139, 0, 0), 
    0.0625rem 0.125rem 0.0625rem rgb(139, 0, 0), 
    0.0625rem 0.1875rem 0.0625rem rgb(139, 0, 0),
    0.0625rem 0.25rem 0.0625rem rgb(139, 0, 0), 
    0.0625rem 0.3125rem 0.0625rem rgb(139, 0, 0), 
    0.0625rem 0.375rem 0.0625rem rgb(139, 0, 0), 
    0.0625rem 0.4375rem 0.0625rem rgb(139, 0, 0), 
    0.0625rem 0.5rem 0.0625rem rgb(139, 0, 0),
    0.0625rem 0.5625rem 0.0625rem rgb(139, 0, 0), 
    0.0625rem 0.625rem 0.0625rem rgb(139, 0, 0), 
    0.0625rem 1.125rem 0.375rem rgba(139, 0, 0, 0.4), 
    0.0625rem 1.375rem 0.625rem rgba(139, 0, 0, 0.2), 
    0.0625rem 1.625rem 1.0625rem rgba(139, 0, 0, 0.2), 
    0.0625rem 1.875rem 2.25rem rgba(139, 0, 0, 0.4); 
}
.planner{
  color: rgb(77, 169, 255);
  font-size: 4rem; /* 5rem / 16px = 3.125rem */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  margin-top: 0.5rem;
  text-shadow: 
    0.0625rem 0.0625rem 0.0625rem rgb(139, 0, 0), 
    0.0625rem 0.125rem 0.0625rem rgb(139, 0, 0), 
    0.0625rem 0.1875rem 0.0625rem rgb(139, 0, 0),
    0.0625rem 0.25rem 0.0625rem rgb(139, 0, 0), 
    0.0625rem 0.3125rem 0.0625rem rgb(139, 0, 0), 
    0.0625rem 0.375rem 0.0625rem rgb(139, 0, 0), 
    0.0625rem 0.4375rem 0.0625rem rgb(139, 0, 0), 
    0.0625rem 0.5rem 0.0625rem rgb(139, 0, 0),
    0.0625rem 0.5625rem 0.0625rem rgb(139, 0, 0), 
    0.0625rem 0.625rem 0.0625rem rgb(139, 0, 0), 
    0.0625rem 1.125rem 0.375rem rgba(139, 0, 0, 0.4), 
    0.0625rem 1.375rem 0.625rem rgba(139, 0, 0, 0.2), 
    0.0625rem 1.625rem 1.0625rem rgba(139, 0, 0, 0.2), 
    0.0625rem 1.875rem 2.25rem rgba(139, 0, 0, 0.4); 

}






.s1 {
  display: flex;
  flex-wrap: wrap;
  color: var(--font-color);
  margin-top: 1rem;
  width: 100%;
}

.s1-inside {
  width: 47rem;
  padding: 1rem;
  font-size: 2rem;
  margin-top: 5rem;
  
}

.s1-inside h2 {
  box-shadow: 0.5rem 0.3rem var(--color-black);
  display: flex;
  justify-content: center;
  height: 3rem;
  border-radius: 2rem;
  text-shadow: 0.3rem 0.3rem 1rem rgb(255, 153, 0);
}

.s1-inside p {
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--font-color);
  text-shadow: 0.1rem 0.1rem 0.1rem rgb(0, 0, 0);
}

.s1-img {
  
  width: 47.5rem;
}

.s1-img img {
  border-radius: 3rem;
  border: 0.2rem solid black;
  width: 35rem;
  height: 35rem;
  margin-top: 1rem;
  margin-left: 10rem;
  box-shadow: 0.4rem 0.2rem black;
}

.homeservices {
  order: 3;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem;
  width: 100%;
}

.hsname {
  background-color: var(--bg-color);
  background-image: url("https://img.freepik.com/free-vector/gradient-blur-pink-blue-abstract-background_53876-117324.jpg?size=626&ext=jpg&uid=R72506931&ga=GA1.2.1553071193.1695192744&semt=ais");
  box-shadow: 0.4rem 0.4rem 0.2rem black;
  margin: 0.3125rem;
  color: var(--font-color);
  font-size: 1.125rem;
  text-shadow: 0.625rem 0.625rem 0.625rem rgba(0, 0, 0, 0.5);
  padding: 0.3125rem;
  width: 18rem;
  font-weight: bold;
  flex: auto;
  height: 3rem;
  border: 0.1rem solid rgb(0, 65, 156);
  border-radius: 1.25rem;
  cursor: pointer;
}

.hsname:hover {
  box-shadow: 0 0 1.25rem rgb(255, 117, 37);
  padding: 0.625rem;
  
}

.serve {
  display: flex;
  color: var(--main-font);
  justify-content: center;
  border-radius: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  background: linear-gradient(rgb(255, 29, 135), rgb(140, 46, 199));
  width: fit-content;
  padding: 0.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.hp-text{
  font-size: 1.5rem;
  color: var(--font-color);
  font-weight: 450;
  font-style: italic;
}


.bottom {
  color: var(--font-color);
  display: flex;
  margin: 2rem;
  justify-content: space-between;
}

.contact {
  align-items: center;
}

.location {
  display: flex;
  
  align-items: center;
}

.address-div {
  color: var(--font-color);
  text-align: center;
  margin-left: 2rem;
}

.imgt {
  width: 1.4rem;
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  height: 1.4rem;
  float: right;
  margin-right: 0.5rem;
  cursor: pointer;
}

.social {
  display: grid;
  font-size: 1.2rem;
  flex-wrap: wrap;
}

.in {
  display: flex;
  color: rgb(255, 157, 0);
  margin-bottom: 0.2rem;
}

.wt {
  display: flex;
  color: rgb(113, 188, 0);
  margin-bottom: 0.2rem;
}

.yt {
  display: flex;
  color: rgb(255, 32, 32);
  margin: 0.2rem;
}

.fb {
  display: flex;
  color: rgb(104, 104, 255);
}


@media (max-width: 768px) {
  #root {
    overflow-x: hidden;
  }
  .hp-text{
    display: none;
  }

  .wholecontainer {
    display: flex;
    overflow-x: hidden;
    width: 100%;
    
    flex-direction: column;
  }
  .fs-inside{
    display: grid;
    width: fit-content;
  }
  .fsname-container{
    margin-left: 1.5rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
  }
  .fsheading{
    width: 24.2rem;
    margin: 0.2rem;
  }
  .fsimg{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
  }
  .dream{
    font-size: 3rem;
  }
  .fsimg{
    font-size: 0.7rem;
    margin-left: 0rem;
  }

  .homeservices {
    padding: 0.625rem;
  }

  .slider-container {
    order: 1;
    width: auto;
    height: auto;
    overflow: unset;
    margin-top: 6.875rem;
    margin-left: 0;
    margin-right: 0;
    border-radius: 1.25rem;
  }

  .s1-inside {
    width: auto;
    margin-top: 1rem;
  }

  .s1-inside h2 {
    width: 18rem;
    height: 2.5rem;
    text-align: end;
  }

  .s1-inside p {
    display: none;
    
  }
  .s1-img {
    width: auto;
    margin-left: 0rem;
  }

  .s1-img img {
    margin-left: 0rem;
    width: 100%;
    height: 30rem;
  }

 

  

  .hsname {
    width: 11.7rem;
    align-items: center;
    font-size: 1rem;
    padding: 0.1rem;
    cursor: pointer;
    &:hover {
      background-color: goldenrod;
    }
  }

  .slidepic {
    width: 33rem;
    height: 22rem;
  }

  .homeblank {
    width: auto;
    height: 11rem;
    display: block;
  }

  .bottom {
    display: flex;
    flex-direction: column;
  }
  .follow{
    margin-top: 2rem;
    margin-left: 1rem;
  }
  .social{
    display: flex;
    flex-wrap: wrap;
    
    padding: 1rem;
    
    margin: 0.2rem;
    
    width: 22.5rem;
    margin-left: -3rem;
  }
  .wt{
    margin-left: 2rem;
  }
  .fb{
    margin-top: 0.3rem;
    margin-left: 2rem;
  }
  
}
@media(max-width : 400px){
  .hsname {
    width: 10rem;
  }
}

