.feedback-form{
    background-color: rgb(231, 0, 0);
    color: white;
    height: 100%;
    width: 100%;
}
.btnfbsubmit {
    width: 5rem;
    height: 2rem;
    color: red; /* Add a semicolon here */
    background-color: black;
}
